<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: #e9ecef;">

    <header style="text-align: center;">
        <div class="navbar-center navbar-dark bg-dark box-shadow">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <h1 class="jumbotron-heading">Servicio de segmentación semántica (GPU)</h1>
                </a>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <p class="lead text-muted">Carga las imágenes sobre las que quieras realizar la segmentación.</p>
                <form id="pnoa-form" action="{{ url_for('inference') }}" method="POST" enctype="multipart/form-data">
                    <div class="center-block">
                            <input type="file" name="file" accept="image/*" multiple>
                            <input type="submit" value="Realizar clasificación">
                        </div>
                </form>
            </div>
        </section>


    </main>
</body>
</html>
